.time_table_input_card{
    min-width: 450px;
    margin-top: 5vh;
    width: 70vw;
}

.time_table_input_form_field{
    width: 60vw;
    min-width: 400px;
}

.time_table_input_form_submit_button{
    width: 50vw;
    min-width: 400px;
}

.mat-dialog-content{
    margin: auto;
}
.mat-dialog-title{
    text-align: center;
}

.alert{
    background-color: #fed3d3;
    color: #820000;
    padding: 5px;
    width: 55vw;
    margin-bottom: 5px;
    min-width: 400px;
    padding-top: 0;
    padding-bottom: 6px;
}

#colorPick{
    width: 55vw;
    margin:10px;
    min-width: 350px;
}
