<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
    </ng-container>
    <ng-container matColumnDef="subjectGroup">
        <th mat-header-cell *matHeaderCellDef> {{'TIME_TABLE_INPUTS.SUBJECT_NAME' | translate}} </th>
        <td mat-cell *matCellDef="let element" > {{getSubjectGroupText(element.SUBJECT_GROUP)}} </td>
    </ng-container>
    <ng-container matColumnDef="day">
        <th mat-header-cell *matHeaderCellDef> {{'TIME_TABLE_INPUTS.DAY' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{numberToTextController.dayChanger(element.DAY) | translate}} </td>
    </ng-container>
    <ng-container matColumnDef="subjectWeight">
        <th mat-header-cell *matHeaderCellDef> {{'TIME_TABLE_INPUTS.SUBJECT_WEIGHT.SUBJECT_WEIGHT' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{numberToTextController.subjectWeightChanger(element.SUBJECT_WEIGHT) | translate}} </td>
    </ng-container>
    <ng-container matColumnDef="classStartTime">
        <th mat-header-cell *matHeaderCellDef> {{'TIME_TABLE_INPUTS.CLASS_START_TIME' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.CLASS_START_TIME}} </td>
    </ng-container>
    <ng-container matColumnDef="classEndTime">
        <th mat-header-cell *matHeaderCellDef> {{'TIME_TABLE_INPUTS.CLASS_END_TIME' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.CLASS_END_TIME}} </td>
    </ng-container>
    <ng-container matColumnDef="classroom">
        <th mat-header-cell *matHeaderCellDef> {{'TIME_TABLE_INPUTS.CLASSROOM' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.CLASSROOM}} </td>
    </ng-container>
    <ng-container matColumnDef="teacher">
        <th mat-header-cell *matHeaderCellDef> {{'TIME_TABLE_INPUTS.TEACHER' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.TEACHER}} </td>
    </ng-container>
    <ng-container matColumnDef="credit">
        <th mat-header-cell *matHeaderCellDef> {{'TIME_TABLE_INPUTS.CREDIT' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.CREDIT}} </td>
    </ng-container>
    <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef> {{'TIME_TABLE_INPUTS.PRIORITY' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.PRIORITY}} </td>
    </ng-container>
    <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef> {{'TIME_TABLE_INPUTS.COLOR' | translate}} </th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{'background': element.COLOR}"></td>
    </ng-container>
    <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-icon-button color="primary" (click)="openAddDialog()">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="openDeleteAllDialog()">
                <mat-icon>delete</mat-icon>
            </button>
        </th>
        <td mat-cell *matCellDef="let row; let i=index;">
            <button mat-icon-button (click)="openEditDialog(i)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="openDeleteDialog(i)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div fxLayout="column" fxLayoutAlign="space-around center" >
    <button mat-raised-button color="primary" class="sortingButton" (click)="sorting()">
        {{'GENERATING' | translate}}
    </button>
    <mat-card *ngIf="this.authService.isLoggedIn" >
        <div fxLayout="column" fxLayoutAlign="space-around center" >
            <mat-form-field appearance="outline">
                <mat-label >{{'SAVE_NAME' | translate}}</mat-label>
                <input matInput [(ngModel)]="saveName">
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
                <button mat-raised-button color="primary" 
                    (click)="addTimeTableCollection(this.saveName)" Layoutgap>
                    {{'SAVE_TO_DATABASE' | translate}}
                </button>
                <button mat-raised-button color="primary" 
                    (click)="addTimeTableCollection(this.saveName)" Layoutgap>
                    {{'UPDATE_DATABASE' | translate}}
                </button>
            </div>
        </div>
    </mat-card>
</div>
<div *ngIf="this.authService.isLoggedIn" >
    <table mat-table [dataSource]="databaseSource" class="databaseCruds" >
        <ng-container matColumnDef="saveName">
            <th mat-header-cell *matHeaderCellDef> {{ 'SAVE_NAME' | translate }} </th>
            <td mat-cell *matCellDef="let element" style="font-size: 20px;"> {{element}} </td>
        </ng-container>
        <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button (click)="loadTimeTableSaveNameCollection(row)">
                    <mat-icon>cloud_download</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteTimeTableSaveNameCollection(row)" >
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="savedElementColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: savedElementColumns;"></tr>
    </table>
</div>
