<div class="header" fxLayout="row" fxLayoutAlign="center center" >
    <div fxFlex="20">
        <button mat-button [matMenuTriggerFor]="menu">{{ 'MENU' | translate}}</button>
            <mat-menu #menu="matMenu">
            <a href="#" button mat-menu-item>{{ 'HOME_PAGE' | translate}}</a>
            <a href="#" button mat-menu-item>{{ 'MAIN_TITLE' | translate}}</a>
        </mat-menu>
    </div>
    <div fxFlex="60"> {{ 'MAIN_TITLE' | translate}} </div>
    <mat-icon fxFlex="10">person_pin</mat-icon>
    <button class="clickable_button" (click)="setLanguageLocalStorage('hun')">HUN</button>
    /
    <button class="clickable_button" (click)="setLanguageLocalStorage('en')">ENG</button>
</div>