<mat-card class="user_verify_email_card">
    <h1>{{'EMAIL_VERIFY' | translate}} </h1>
    <mat-card-content>
        <div *ngIf="authService.userData as user">
            <p>{{'SENT_TO' | translate}} <strong>{{user.email}}</strong>.</p>
                <button mat-raised-button color="primary" type="button" (click)="authService.SendVerificationMail()">
                    {{'SEND_AGAIN' | translate}} 
                </button>
            <div>
                <span>{{'BACK_TO' | translate}}
                    <a routerLink="/user_login">
                        {{'BACK_TO_LOGIN' | translate}}
                    </a>
                </span>
            </div>
        </div>
    </mat-card-content>
</mat-card>
