table {
    min-width: 700px;
    width: 98vw;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 5vh;
}
td,tr {
    border-right: 1px solid black;
    border-collapse: collapse;
}

tr {
    padding: 0px;
}

td {
    word-break: break-word;
}

.mat-header-cell {
    text-align: center;
}

.changeColor {
    background: white;
}

.clickable_button {
    background:none;
    border:none; 
}
