<mat-card class="user_forgot_password_card">
    <h1>{{'RESET_PASSWORD' | translate}} </h1>
    <mat-card-content>
      <form [formGroup]="form" class="forgot_password_form">
        <mat-form-field class="forgot_password_form_field" appearance="fill">
          <mat-label>{{'USER.EMAIL' | translate}}</mat-label>
          <input required type="email" matInput formControlName="email" #email id="email">
        </mat-form-field>
        <div *ngIf="forgetPasswordForm.email.invalid && 
        (forgetPasswordForm.email.dirty || forgetPasswordForm.email.touched)" 
        class="alert">
          <div *ngIf="forgetPasswordForm.email.errors?.required">
            {{'INPUT_ERRORS.REQUIRED' | translate }}
          </div>
          <div *ngIf="forgetPasswordForm.email.errors?.email">
            {{'INPUT_ERRORS.PATTERN.EMAIL' | translate }}
          </div>
        </div>
        <button mat-raised-button color="primary" class="user_forget_password_form_submit_button" type="submit" [disabled]="!form.valid"
        (click)="authService.ForgotPassword(email.value)">
        {{'SEND' | translate}} 
        </button>
      </form>
        <span>{{ 'BACK_TO' | translate}} <a routerLink="/user_login">{{'BACK_TO_LOGIN' | translate}}</a></span>
    </mat-card-content>
</mat-card>