<p class="mainText">A weboldal célja segítséget nyújtson az egyetemesiták számára órarendek készítéséhez és generálásához.</p>

<div fxLayout="column" fxLayoutAlign="space-around center" class="a">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="45px">
        <mat-card>
            <img mat-card-image src="../../../../assets/images/table.PNG">
            <p>A megadott adatok a listázón keresztül olvasható, módosítható és törölhető.</p>
        </mat-card>
        <mat-card>
            <img mat-card-image src="../../../../assets/images/add.PNG" class="addImg">
            <p>A tárgyak hozzáadása és módosítása egyszerű, a felugró hiba üzenetet segítséget nyújtanak,
                hogy a rendszernek megfelelő alakban kerüljenek megadásra az adatok.
            </p>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="45px">
        <mat-card>
            <img mat-card-image src="../../../../assets/images/save.PNG">
            <p>Regisztrált felhasználók számára lehetőség nyílik, hogy a felhőbe mentsék 
                a megadott tantárgyakat, így bármikor és bárhonnan elérhetik.</p>
        </mat-card>
        <mat-card>
            <img mat-card-image src="../../../../assets/images/result.PNG">
            <p>A generálás eredményét megtekinthetik és egyetlen kattintással új lehetőségek előállítása is lehetséges.</p>
        </mat-card>
    </div>
</div>

