<p class="mainText">{{'HOMEPAGE.MAIN_TEXT' | translate}}</p>

<div fxLayout="column" fxLayoutAlign="space-around center" class="a">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="45px">
        <mat-card>
            <img mat-card-image src="../../../../assets/images/table.PNG">
            <p>{{'HOMEPAGE.DATA_TABLE_TEXT' | translate}}</p>
        </mat-card>
        <mat-card>
            <img mat-card-image src="../../../../assets/images/add.PNG" class="addImg">
            <p>{{'HOMEPAGE.ADD_TEXT' | translate}}
            </p>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="45px">
        <mat-card>
            <img mat-card-image src="../../../../assets/images/save.PNG">
            <p>{{'HOMEPAGE.ADD_FIREBASE_TEXT' | translate }}</p>
        </mat-card>
        <mat-card>
            <img mat-card-image src="../../../../assets/images/result.PNG">
            <p>{{'HOMEPAGE.GENERATED_RESULT_TEXT' | translate}}</p>
        </mat-card>
    </div>
</div>

