.user_forgot_password_card{
    margin: auto;
    margin-top: 15vh;
    width: 70vw;
    text-align: center;
}

.forgot_password_form_field{
    width: 60vw;
}

.user_forgot_password_form_submit_button{
    width: 50vw;
}

.alert div {
    background-color: #fed3d3;
    color: #820000;
    padding: 5px;
    width: 58vw;
    margin: auto;
    margin-bottom: 5px;
}

button {
    margin-bottom: 10px;
}