<mat-card class="user_register_card">
    <h1>{{'USER.LOGIN' | translate}}</h1>
    <mat-card-content>
      <form class="register_form">
        <mat-form-field class="register_form_field" appearance="fill">
          <mat-label>{{'USER.USERNAME' | translate}}</mat-label>
          <input type="text" matInput>
        </mat-form-field>
        <mat-form-field class="register_form_field" appearance="fill">
          <mat-label>{{'USER.PASSWORD' | translate}}</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button color="primary" class="user_register_form_submit_button" type="submit">
          {{ 'BUTTON.LOGIN' | translate }}
        </button>
      </form>
    </mat-card-content>
</mat-card>