<mat-card class="user_register_card">
    <h1>{{'USER.REGISTER' | translate}}</h1>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()" class="register_form">
        <mat-form-field class="register_form_field" appearance="fill">
          <mat-label>{{'USER.USERNAME' | translate}}</mat-label>
          <input required type="text" matInput formControlName="username" #username id="username">
        </mat-form-field>
        <div *ngIf="registerForm.username.invalid && 
                    (registerForm.username.dirty || registerForm.username.touched)" 
                    class="alert">
            <div *ngIf="registerForm.username.errors?.required">
              {{'INPUT_ERRORS.REQUIRED.USERNAME' | translate }}
            </div>
            <div *ngIf="registerForm.username.errors?.minlength">
              {{'INPUT_ERRORS.MINLENGTH.USERNAME' | translate }}
            </div>
        </div>
        <mat-form-field class="register_form_field" appearance="fill">
          <mat-label>{{'USER.PASSWORD' | translate}}</mat-label>
          <input required matInput [type]="hide ? 'text' : 'password'" formControlName="password" #password id="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div *ngIf="registerForm.password.invalid && 
                    (registerForm.password.dirty || registerForm.password.touched)" 
                    class="alert">
            <div *ngIf="registerForm.password.errors?.required">
              {{'INPUT_ERRORS.REQUIRED.PASSWORD' | translate }}
            </div>
            <div *ngIf="registerForm.password.errors?.pattern">
              {{'INPUT_ERRORS.PATTERN.PASSWORD' | translate }}
            </div>
        </div>
        <mat-form-field class="register_form_field" appearance="fill">
          <mat-label>{{'USER.CONFIRMPASSWORD' | translate }}</mat-label>
          <input required matInput [type]="confirm_hide ? 'text' : 'password'" formControlName="confirmPassword" id="confirmPassword">
          <button mat-icon-button matSuffix (click)="confirm_hide = !confirm_hide" type="button">
            <mat-icon>{{confirm_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div *ngIf="registerForm.confirmPassword.invalid && 
        (registerForm.confirmPassword.dirty || registerForm.confirmPassword.touched)" 
        class="alert">
          <div *ngIf="registerForm.confirmPassword.errors?.required">
            {{'INPUT_ERRORS.CONFIRM.PASSWORD' | translate }}
          </div>
          <div *ngIf="registerForm.confirmPassword.errors?.confirmedValidator">
            {{'INPUT_ERRORS.CONFIRM.PASSWORD' | translate }}
          </div>
        </div>
        <mat-form-field class="register_form_field" appearance="fill">
          <mat-label>{{'USER.EMAIL' | translate }}</mat-label>
          <input required type="email" matInput formControlName="email" id="email">
        </mat-form-field>
        <div *ngIf="registerForm.email.invalid && 
        (registerForm.email.dirty || registerForm.email.touched)" 
        class="alert">
          <div *ngIf="registerForm.email.errors?.required">
            {{'INPUT_ERRORS.REQUIRED.EMAIL' | translate }}
          </div>
          <div *ngIf="registerForm.email.errors?.email">
            {{'INPUT_ERRORS.PATTERN.EMAIL' | translate }}
          </div>
        </div>
        <mat-form-field class="register_form_field" appearance="fill">
          <mat-label>{{'USER.CONFIRMEMAIL' | translate }}</mat-label>
          <input required type="email" matInput formControlName="confirmEmail" #email id="confirmEmail">
        </mat-form-field>
        <div *ngIf="registerForm.confirmEmail.invalid && 
        (registerForm.confirmEmail.dirty || registerForm.confirmEmail.touched)" 
        class="alert">
          <div *ngIf="registerForm.confirmEmail.errors?.required">
            {{'INPUT_ERRORS.CONFIRM.EMAIL' | translate }}
          </div>
          <div *ngIf="registerForm.confirmEmail.errors?.confirmedValidator">
            {{'INPUT_ERRORS.CONFRIRM.EMAIL' | translate }}
          </div>
        </div>
        <button mat-raised-button color="primary" class="user_register_form_submit_button" 
          type="submit" (click)="authService.SignUp(email.value, password.value)"
          [disabled]="!form.valid">
          {{ 'BUTTON.REGISTER' | translate }}
        </button>
        
      </form>
    </mat-card-content>
</mat-card>