<mat-card class="user_register_card">
    <h1>{{'USER.REGISTER' | translate}}</h1>
    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="submit()" class="register_form">
        <mat-form-field class="register_form_field" appearance="fill">
          <mat-label>{{'USER.USERNAME' | translate}}</mat-label>
          <input required type="text" matInput formControlName="username" id="username">
        </mat-form-field>
        <div *ngIf="registerForm.controls['username'].invalid && 
                    (registerForm.controls['username'].dirty || registerForm.controls['username'].touched)" 
                    class="alert">
            <div *ngIf="registerForm.controls['username'].errors?.required">
            .
            </div>
            <div *ngIf="registerForm.controls['username'].errors?.minlength">
            .
            </div>
        </div>
        <mat-form-field class="register_form_field" appearance="fill">
          <mat-label>{{'USER.PASSWORD' | translate}}</mat-label>
          <input required matInput [type]="hide ? 'text' : 'password'" formControlName="password" id="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div *ngIf="registerForm.controls['password'].invalid && 
                    (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)" 
                    class="alert">
            <div *ngIf="registerForm.controls['password'].errors?.required">
            .
            </div>
            <div *ngIf="registerForm.controls['password'].errors?.pattern">
            .
            </div>
        </div>
        <mat-form-field class="register_form_field" appearance="fill">
          <mat-label>{{'USER.CONFIRMPASSWORD' | translate }}</mat-label>
          <input required matInput [type]="confirm_hide ? 'text' : 'password'" formControlName="confirmPassword" id="confirmPassword">
          <button mat-icon-button matSuffix (click)="confirm_hide = !confirm_hide" type="button">
            <mat-icon>{{confirm_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div *ngIf="registerForm.controls['confirmPassword'].invalid && 
        (registerForm.controls['confirmPassword'].dirty || registerForm.controls['confirmPassword'].touched)" 
        class="alert">
          <div *ngIf="registerForm.controls['confirmPassword'].errors?.required">
          .
          </div>
          <div *ngIf="registerForm.controls['confirmPassword'].errors?.confirmPassword">
          .
          </div>
        </div>
        <mat-form-field class="register_form_field" appearance="fill">
          <mat-label>{{'USER.EMAIL' | translate }}</mat-label>
          <input required type="email" matInput formControlName="email" id="email">
        </mat-form-field>
        <div *ngIf="registerForm.controls['email'].invalid && 
        (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)" 
        class="alert">
          <div *ngIf="registerForm.controls['email'].errors?.required">
          .
          </div>
          <div *ngIf="registerForm.controls['email'].errors?.email">
          .
          </div>
        </div>
        <mat-form-field class="register_form_field" appearance="fill">
          <mat-label>{{'USER.CONFIRMEMAIL' | translate }}</mat-label>
          <input required type="email" matInput formControlName="confirmEmail" id="confirmEmail">
        </mat-form-field>
        <div *ngIf="registerForm.controls['confirmEmail'].invalid && 
        (registerForm.controls['confirmEmail'].dirty || registerForm.controls['confirmEmail'].touched)" 
        class="alert">
          <div *ngIf="registerForm.controls['confirmEmail'].errors?.required">
          .
          </div>
        </div>
        <button mat-raised-button color="primary" class="user_register_form_submit_button" type="submit">
          {{ 'BUTTON.REGISTER' | translate }}
        </button>
      </form>
    </mat-card-content>
</mat-card>